@page
@model LoginModel

<h1>@ViewData["Title"]</h1>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            @*<h3 class="text-uppercase text-info">Login</h3>*@
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-label-group">
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email" required autofocus>
                                    <span asp-validation-for="Input.Email" class="text-info" for="email">Email</span>
                                </div>

                                <div class="form-label-group">
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" required>
                                    <span asp-validation-for="Input.Password" class="text-info" for="inputPassword">Password</span>
                                </div>
                                
                                <div class="custom-control custom-checkbox mb-3">
                                    <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="customCheck1">
                                    <span asp-validation-for="Input.RememberMe" class="custom-control-label" for="customCheck1">Remember me?</span>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 text-dark" type="submit">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
