@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="text-info">@ViewData["Title"]</h1>
    <p class="text-info" >You have successfully logged out of the application.</p>
</header>